interactions:
- request:
    body: null
    headers:
      subscription-key:
      - <RealSubscriptionKey>
      x-ms-client-id:
      - <RealClientId>
    method: GET
    uri: https://atlas.microsoft.com/search/address/structured/json?api-version=1.0&countryCode=TW&streetNumber=68&streetName=Sec.%205%2C%20Zhongxiao%20E.%20Rd.&municipality=Taipei%20City&municipalitySubdivision=Xinyi%20Dist.
  response:
    body:
      string: '{"summary":{"query":"sec 5 zhongxiao e rd 68 taipei city xinyi dist","queryType":"NON_NEAR","queryTime":352,"numResults":10,"offset":0,"totalResults":11147,"fuzzyLevel":2},"results":[{"type":"Point
        Address","id":"TW/PAD/p0/4153525","score":17.4816398621,"address":{"streetNumber":"5","streetName":"Zhongxiao
        East Road Section 5 Lane 790 Alley 68","municipalitySubdivision":"Xinyi District","municipality":"Taipei
        City","countrySubdivision":"Taipei City","postalCode":"110","extendedPostalCode":"11082","countryCode":"TW","country":"Taiwan","countryCodeISO3":"TWN","freeformAddress":"5,
        Zhongxiao East Road Section 5 Lane 790 Alley 68, Xinyi District, Taipei City
        11082","localName":"Xinyi District"},"position":{"lat":25.04055,"lon":121.58325},"viewport":{"topLeftPoint":{"lat":25.04145,"lon":121.58226},"btmRightPoint":{"lat":25.03965,"lon":121.58424}},"entryPoints":[{"type":"main","position":{"lat":25.04066,"lon":121.58321}}]},{"type":"Point
        Address","id":"TW/PAD/p0/4289697","score":16.3162174225,"address":{"streetNumber":"68","streetName":"Zhongxiao
        East Road Section 5","municipalitySubdivision":"Xinyi District","municipality":"Taipei
        City","countrySubdivision":"Taipei City","postalCode":"110","extendedPostalCode":"11065","countryCode":"TW","country":"Taiwan","countryCodeISO3":"TWN","freeformAddress":"68,
        Zhongxiao East Roa[...]
