interactions:
- request:
    body: null
    headers:
      subscription-key:
      - <RealSubscriptionKey>
      x-ms-client-id:
      - <RealClientId>
    method: GET
    uri: https://atlas.microsoft.com/search/fuzzy/json?api-version=1.0&query=19F.%2C%20No.%2068%2C%20Sec.%205%2C%20Zhongxiao%20E.%20Rd.%2C%20Xinyi%20Dist.%2C%20Taipei%20City%2C%20Taiwan
  response:
    body:
      string: "{\"summary\":{\"query\":\"19f no 68 sec 5 zhongxiao e rd xinyi dist
        taipei city taiwan\",\"queryType\":\"NON_NEAR\",\"queryTime\":650,\"numResults\":10,\"offset\":0,\"totalResults\":2324,\"fuzzyLevel\":2},\"results\":[{\"type\":\"Point
        Address\",\"id\":\"TW/PAD/p0/4153525\",\"score\":19.1392402649,\"address\":{\"streetNumber\":\"5\",\"streetName\":\"Zhongxiao
        East Road Section 5 Lane 790 Alley 68\",\"municipalitySubdivision\":\"Xinyi
        District\",\"municipality\":\"Taipei City\",\"countrySubdivision\":\"Taipei
        City\",\"postalCode\":\"110\",\"extendedPostalCode\":\"11082\",\"countryCode\":\"TW\",\"country\":\"Taiwan\",\"countryCodeISO3\":\"TWN\",\"freeformAddress\":\"5,
        Zhongxiao East Road Section 5 Lane 790 Alley 68, Xinyi District, Taipei City
        11082\",\"localName\":\"Xinyi District\"},\"position\":{\"lat\":25.04055,\"lon\":121.58325},\"viewport\":{\"topLeftPoint\":{\"lat\":25.04145,\"lon\":121.58226},\"btmRightPoint\":{\"lat\":25.03965,\"lon\":121.58424}},\"entryPoints\":[{\"type\":\"main\",\"position\":{\"lat\":25.04066,\"lon\":121.58321}}]},{\"type\":\"Point
        Address\",\"id\":\"TW/PAD/p0/2441137\",\"score\":17.5453357697,\"address\":{\"streetNumber\":\"1-5\",\"streetName\":\"Zhongxiao
        East Road Section 5\",\"municipalitySubdivision\":\"Xinyi District\",\"municipality\":\"Taipei
        City\",\"countrySubdivision\":\"Taipei City\",\"postalCode\":\"110\",\"extendedPostalCode\":\"11071\",\"countryCode\":\"TW\",\"country\":\"Taiwan\",\"countryCodeI[...]
