interactions:
- request:
    body: null
    headers:
      subscription-key:
      - <RealSubscriptionKey>
      x-ms-client-id:
      - <RealClientId>
    method: GET
    uri: https://atlas.microsoft.com/search/address/json?api-version=1.0&query=Taipei
  response:
    body:
      string: "{\"summary\":{\"query\":\"taipei\",\"queryType\":\"NON_NEAR\",\"queryTime\":61,\"numResults\":10,\"offset\":0,\"totalResults\":70,\"fuzzyLevel\":1},\"results\":[{\"type\":\"Geography\",\"id\":\"TW/GEO/p0/1211\",\"score\":2.6649377346,\"entityType\":\"Municipality\",\"address\":{\"municipality\":\"Taipei
        City\",\"countrySubdivision\":\"Taipei City\",\"countryCode\":\"TW\",\"country\":\"Taiwan\",\"countryCodeISO3\":\"TWN\",\"freeformAddress\":\"Taipei
        City\"},\"position\":{\"lat\":25.03841,\"lon\":121.5637},\"viewport\":{\"topLeftPoint\":{\"lat\":25.21026,\"lon\":121.45713},\"btmRightPoint\":{\"lat\":24.96051,\"lon\":121.66582}},\"boundingBox\":{\"topLeftPoint\":{\"lat\":25.21026,\"lon\":121.45713},\"btmRightPoint\":{\"lat\":24.96051,\"lon\":121.66582}},\"dataSources\":{\"geometry\":{\"id\":\"00005858-5800-1200-0000-00007736e644\"}}},{\"type\":\"Geography\",\"id\":\"TW/GEO/p0/1209\",\"score\":2.6390645504,\"entityType\":\"Municipality\",\"address\":{\"municipality\":\"New
        Taipei City\",\"countrySubdivision\":\"New Taipei City\",\"countryCode\":\"TW\",\"country\":\"Taiwan\",\"countryCodeISO3\":\"TWN\",\"freeformAddress\":\"New
        Taipei City\"},\"position\":{\"lat\":25.01171,\"lon\":121.46588},\"viewport\":{\"topLeftPoint\":{\"lat\":25.29957,\"lon\":121.28266},\[...]
