interactions:
- request:
    body: null
    headers:
      subscription-key:
      - <RealSubscriptionKey>
      x-ms-client-id:
      - <RealClientId>
    method: GET
    uri: https://atlas.microsoft.com/search/poi/json?api-version=1.0&query=Taipei
  response:
    body:
      string: "{\"summary\":{\"query\":\"taipei\",\"queryType\":\"NON_NEAR\",\"queryTime\":6,\"numResults\":10,\"offset\":0,\"totalResults\":1383,\"fuzzyLevel\":1},\"results\":[{\"type\":\"POI\",\"id\":\"g6JpZK8xNTgwMDkwMDE4NjU2MjehY6NUV06hdqdVbmlmaWVk\",\"score\":2.1037807465,\"info\":\"search:ta:158009001865627-TW\",\"poi\":{\"name\":\"Taipei
        Guest House\",\"phone\":\"+886 2 2348 2999\",\"categorySet\":[{\"id\":7376002}],\"categories\":[\"building\",\"important
        tourist attraction\"],\"classifications\":[{\"code\":\"IMPORTANT_TOURIST_ATTRACTION\",\"names\":[{\"nameLocale\":\"en-US\",\"name\":\"important
        tourist attraction\"},{\"nameLocale\":\"en-US\",\"name\":\"building\"}]}]},\"address\":{\"streetNumber\":\"1\",\"streetName\":\"Ketagalan
        Boulevard\",\"municipalitySubdivision\":\"Zhongzheng District\",\"municipality\":\"Taipei
        City\",\"countrySubdivision\":\"Taipei City\",\"postalCode\":\"100\",\"extendedPostalCode\":\"10048\",\"countryCode\":\"TW\",\"country\":\"Taiwan\",\"countryCodeISO3\":\"TWN\",\"freeformAddress\":\"1,
        Ketagalan Boulevard, Zhongzheng District, Taipei City 10048\",\"localName\":\"Zhongzheng
        District\"},\"position\":{\"lat\":25.04004,\"lon\":121.51671},\"viewport\":{\"topLeftPoint\":{\"lat\":25.04094,\"lon\":121.51572},\"btmRightPoint\":{\"lat\":25.03914,\"lon\":121.5177}},\"entryPoints\":[{\"type\":\"main\",\"position\":{\"lat\":25.03949,\"lon\":121.51628}}]},{\"type\":\"POI\",\"id\":\"g6JpZK8xNTgwMDkwMDA4MjIxMDmhY6NUV06hdqdVbmlmaWVk\",\"score\":2.0869066715,\"info\":\"search:ta:158009000822109-TW\",\"poi\":{\"name\":\"Taipei
        International Airport\",\"phone\":\"+886 2 8770 3460\",\"categorySet\":[{\"id\":7383002}],\"url\":\"www.tsa.gov.tw\",\"categories\":[\"airport\",\"public
        authority\"],\"classifications\":[{\"code\":\"AIRPORT\",\"names\":[{\"nameLocale\":\"en-US\",\"name\":\"airport\"},{\"nameLocale\":\"en-US\",\"name\":\"public
        authority\"}]}]},\"address\":{\"streetNumber\":\"340-9\",\"streetName\":\"Dunhua
        North Road\",\"municipalitySubdivision\":\"Songshan District\",\"municipality\":\"Taipei
        City\",\"countrySubdivision\":\"Taipei City\",\"postalCode\":\"105\",\"extendedPostalCode\":\"10548\",\"countryCode\":\"TW\",\"country\":\"Taiwan\",\"countryCodeISO3\":\"TWN\",\"freeformAddress\":\"340-9,
        Dunhua North Road, Songshan District, Taipei City 10548\",\"localName\":\"Songshan
        District\"},\"position\":{\"lat\":25.0637,\"lon\":121.55209},\"viewport\":{\"topLeftPoint\":{\"lat\":25.07185,\"lon\":121.53844},\"btmRightPoint\":{\"lat\":25.06162,\"lon\":121.56831}},\"entryPoints\":[{\"type\":\"main\",\"position\":{\"lat\":25.06354,\"lon\":121.55068}},{\"type\":\"main\",\"position\":{\"lat\":25.06344,\"lon\":121.55202}}],\"dataSources\":{\"geometry\":{\"id\":\"00005457-3100-3c00-0000-0000596831e0\"}}},{\"type\":\"POI\",\"id\":\"g6JpZK8xNTgwMDkwMDE4MjQ4NTOhY6NUV06hdqdVbmlmaWVk\",\"score\":2.0745999813,\"info\":\"search:ta:158009001824853-TW\",\"poi\":{\"name\":\"Taipei
        Fubon Bank He Shuo Qi Ye Zong Bu\",\"brands\":[{\"name\":\"Taipei Fubon Bank\"}],\"categorySet\":[{\"id\":7397}],\"categories\":[\"cash
        dispenser\"],\"classifications\":[{\"code\":\"CASH_DISPENSER\",\"names\":[{\"nameLocale\":\"en-US\",\"name\":\"cash
        dispenser\"}]}]},\"address\":{\"streetNumber\":\"76\",\"streetName\":\"Ligong
        Street\",\"municipalitySubdivision\":\"Beitou District\",\"municipality\":\"Taipei
        City\",\"countrySubdivision\":\"Taipei City\",\"postalCode\":\"112\",\"extendedPostalCode\":\"11261\"[...]
